@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", Arial;
}

h1 {
    font-size: 4em;
}

nav {
    background-color: #e74c3c;
    padding: 1em 5em;
    margin-bottom: 2em;

    h1 {
        color: #f1c40f;
        display: inline-block;

        .letter {
            transition: 0.2s color;
        }

        .letter:hover {
            color: #ecf0f1;
        }
    }
}

.login {
    text-decoration: none;
    color: black;
    font-size: 4em;
    transition: 0.2s color;
}

.login:hover {
    color: #2980b9;
}

.page {
    display: none;
}

.page-login {
    display: block;
    text-align: center;

    .landing {
        font-size: 5vw;

        .letter {
            transition: 0.2s color;
        }

        .letter:hover  {
            color: #ccc;
        }
    }
}

.page-main {
    text-align: center;

    h1 {
        text-align: center;
        font-size: 4.5vw;
    }

    h2 {
        font-size: 3vw;
    }

    .users:before {
        content: "Online users: ";
    }

    #chat {
        width: 80%;
        display: inline-block;
        text-align: left;

        height: 20em;
        overflow-x: auto;
        overflow-y: scroll;

        .message {
            display: block;
        }

        .from {
            font-weight: 900;
        }

        .greentext {
            color: green;
        }
    }

    input {
        width: 80%;
    }
}
